TELEGRAM_BOT_TOKEN="123456789:example-token"
TELEGRAM_ALLOWED_USER_IDS=""
OPENCODE_WORKSPACE="/Users/pro/Documents/Projetos/openconde-control-remote"
OPENCODE_SERVER_URL="http://127.0.0.1:4096"
DATABASE_PATH="./telegram-opencode.sqlite"
PENDING_RESPONSE_TIMEOUT_MINUTES="30"
NOTIFICATION_FLUSH_MS="2500"
